<!doctype html>
<html>
<head>
<title>
</title>
{% load static %}

<link rel="stylesheet" href="{% static 'css/smooth.css' %}" />
<link rel="stylesheet" href="{% static 'css/common.css' %}" />
</head>
<body>
 <div id="container">
 	<h3>Click and drag the chunks such that the final sentence still makes sense</h3><br /><br />
<ul id="sortable">
	<li>A</li>
	<li>B</li>
	<li>C</li>
	<li>D</li>
	<li>E</li>
	<li>F</li>
</ul><br /><br />
 <button onclick="submitthis()" id="submit">Submit!</button>
</div>
<div id="footer">
Developed by Mrinal Dhar &amp; Chanakya Malireddy
</div>
</body>
</html>
</body>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jqueryui.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
<script>
 var inputdata;
   function dataload() {
	inputdata = ajaxCall('/question', {survey: 1}, 'GET', false);
	console.log(inputdata);
    inputdata["chunks"].each(function(i) {
    	$('#sortable').append("<li>"+inputdata["chunks"][i]+"</li>");
    });
   }
  $(document).ready(function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
    dataload();
  });
  function submitthis() {
  	var result = [];
  	var elements = $('#sortable').children('li');
  	elements.each(function(i) { 
    	result.push(elements[i].innerHTML);
	});
  	console.log(result);
  	data = {"result":result, "original":inputdata["id"]};
  	ajaxCall('/process', data, 'POST', false);
  	alert("Thank you! Your response has been saved. Keep going!");
  	dataload();
  }
</script>
</html>