<!doctype html>
<html>
<head>
<title>
</title>
{% load static %}

<link rel="stylesheet" href="{% static 'css/smooth.css' %}" />
<link rel="stylesheet" href="{% static 'css/common.css' %}" />
<style>
#container-progressbar {
width: 130px;
height: 130px;
text-align: center;
position: fixed;
top: 30px;
left: 30px;
}
</style>

</head>
<body>
<div class="header">Integrated Survey Platform</div>
<div class="progressbars" id="container-progressbar"></div>

 <div id="container">
 	<h3>Click and drag the chunks such that the final sentence still makes sense</h3><br /><br />
<ul id="sortable">
	<li>A</li>
	<li>B</li>
	<li>C</li>
	<li>D</li>
	<li>E</li>
	<li>F</li>
</ul><br /><br />
 <button onclick="submitthis()" id="submit" class="btn">Submit this solution!</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <button onclick="dataload()" id="next" class="btn">Next sentence</button>

 <br />


</div>
<div id="footer">
Developed by Mrinal Dhar &amp; Chanakya Malireddy
</div>
<a href="/accounts/logout"><button class="anim logout">Logout</button></a>

<div id="notif_bar" class="anim">

<span id="heading"></span>
<span id="content"></span>
<span id="reply"><input type="text" class="input_text" placeholder="Reply" /></span>

</div>


</body>
<script src="{% static 'js/progressbar.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jqueryui.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
<script>
 var inputdata;
 var outputdata;
   var progress = {};

   function dataload() {
   	$('#sortable').html('');
   	var surveyID = getUrlVars()["id"];
	response = ajaxCall('/question', {survey: surveyID}, 'GET', false);
	console.log(response);
	inputdata = JSON.parse(response["data"]);
	console.log(inputdata);
    $.each(inputdata, function(i) {
    	if (i!='id') {
    	var chunk = "";
    	$.each(inputdata[i], function(word_index) {
    		chunk += inputdata[i][word_index][1] + "&nbsp; ";
    	});
    	$('#sortable').append("<li id='"+i+"'>"+chunk+"</li>");
    }
    });
    loadprogress();
   }
  $(document).ready(function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
    dataload();
  });

  function loadprogress() {
    var surveyID = getUrlVars()["id"];
    progress = ajaxCall('/progress/', { survey: surveyID }, 'GET', false);
    progress = progress["data"];
    circle.animate(progress["completed"]/progress["total"]);
    if (progress["completed"] == progress["total"]) {
      notify("All done!","You have completed this survey! Thank you!");
    }
  }
  function submitthis() {
  	var tempresult = {};
  	var elements = $('#sortable').children('li');
  	elements.each(function(i) { 
  		tempresult[i] = inputdata[elements[i].id];
	});
	var result = []
	$.each(tempresult, function(index, val) {
		result.push(val);
	});
  	console.log(result);
  	data = {"question":inputdata["id"], "answer":JSON.stringify(result)};
  	var response = ajaxCall('/answer/', data, 'POST', false);


    if (response["data"] == "Success") {
  	 notify("Success!","Your response has been saved. Keep going!");
    }
    else {
      notify("Failure!", "This scramble is invalid! Please try again.");
    }
  }
  function triggerNotif() {
  $('#notif_bar').animate({left: "-2px"}, 100);
}
function dismissNotif() {
  $('#notif_bar').animate({left: "-30%"}, 100);
}
function notify(head_string, text) {
  dismissNotif();
  window.setTimeout(function() {}, 500);
  $('#notif_bar #heading').html(head_string);
  $('#notif_bar #reply').html('');
  $('#notif_bar #content').html(convUnicode(text));
  triggerNotif();
  window.setTimeout(dismissNotif, 3000);
}


var circle = new ProgressBar.Circle('#container-progressbar', {
    color: '#FFFFFF',
    strokeWidth: 4,
    trailWidth: 0.5,
    duration: 500,
    text: {
        value: '0'
    },
    step: function(state, bar) {
        // bar.setText((bar.value() * 100).toFixed(0));
        bar.setText(progress["completed"] + " / " + progress["total"])
    }
});


</script>
</html>